* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a:hover {
    color: #3498db;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a span {
        display: none;
    }
}

@media (min-width: 769px) {
    nav ul li a span {
        display: inline;
    }
}


section {
    padding: 80px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

h1,
h2 {
    margin-bottom: 20px;
    color: #fff;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.skill-bar {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background-color: #ecf0f1;
    width: 0;
    transition: width 1s ease-in-out;
}

.certificate-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.certificate {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.certificate:hover {
    transform: translateY(-5px)
}

.certificate i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #3498db;
}

@media (max-width: 768px) {
    .certificate-container {
        grid-template-columns: 1fr;
    }
}


#contact {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

#contact .container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

#contact h2 {
    margin-bottom: 20px;
    color: #2c3e50;
    font-size: 2rem;
    text-align: center;
}

#contact p {
    margin-bottom: 20px;
    color: #333;
    font-size: 1rem;
    text-align: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.home-content {
    text-align: center;
    z-index: 1;
}

.logo {
    max-width: 200px;
    height: auto;
    margin: 0 auto 20px;
}

h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 10px;
}

#home>div>p {
    color: white;
}

p {
    font-size: 1.25rem;
}

#education {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

#education .container {
    background-color: blanchedalmond;
    padding: 40px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

#education h2 {
    margin-bottom: 30px;
    color: #2c3e50;
    font-size: 2rem;
    text-align: center;
}

.education-entry {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.education-entry:hover {
    transform: translateY(-5px);
}

.education-entry h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.education-entry p {
    margin-bottom: 5px;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #ecf0f1;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #3498db;
}

@media (max-width: 768px) {
    body::before {
        background-image: url('images/bg-media.jpg');
    }

    .logo {
        max-width: 150px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    #education .container,
    #contact .container {
        padding: 30px;
    }

    #education h2,
    #contact h2 {
        font-size: 1.5rem;
    }

    #education ul li,
    #contact p {
        font-size: 0.9rem;
    }
}

.click {
    cursor: pointer;
}